@font-face {
    font-family: 'Sofia';
    src: url('fonts/Sofia Pro Semi Bold Az.otf') format('opentype');
}
@font-face {
    font-family: 'SF-Arborcrest-Heavy';
    src: url('fonts/SF Arborcrest Medium.ttf') format('truetype');
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #232239;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.subCategoria {
    position: relative;
    left: -600px;
    font-family: 'SF-Arborcrest-Heavy';
    color: #bfbfbf;
    text-decoration: none;
    margin-left: 20px;
}

.LoginUser,
.CadastroUser {
    font-family: 'Sofia';
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.CadastroUser{
    background-color: #d91a1a;
    padding: 50px;

}


.logo {
    position: relative;
}
